<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Prefix an Suffix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/prefix.css">
  
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="form-group">
          <label for="">Add Prefix</label>
          <input type="text" ng-model="prefix" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <input type="button" value="Save" ng-click="savePrefix()"  class="btn btn-info" >
        </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="">Add Suffix</label>
              <input type="text"  ng-model="suffix"  class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <input type="button" value="Save" ng-click="saveSuffix()"  class="btn btn-info" >
            </div>
            </div>
    </div>
</body>
</html>