<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Company Payment</title>
    <link rel="stylesheet" href="/css/companypayment.css">
  </head>
  <body>

    <div class="container">
    		    <div id="i1" class="row">
    			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
    			    <label class="form-label-control text-color ">Company</label>
              <select class="form-control" name="">
                <option value="">select any</option>
                <option value="">APOLO</option>
                <option value="">Bhama Shah Health Scheme</option>
                <option value="">National Bulk Handling Corporation</option>
                <option value="">Star Health</option>

              </select>
    			</div>
    			<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
    			    <label class="form-label-control text-color ">&nbsp;&nbsp;</label>
    			    <input type="button" class="btn btn-sm btn-info form-control" name="search_btn" id="search_btn" value="Search" onclick="submitForm('comp_pay','opd_company_payments.php','search');">
    			    <span class="textbold14 text-error" id="_message"></span>
    			</div>
    		    </div>
    		</div>

  </body>
</html>
