<link rel="stylesheet" href="/css/dashboard.css">

<div class="container-fluid">

  <div class="card col-md-2" id="c1"  >
  <a href="#!test"  >
    <i id="ii" class="fas fa-search fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">Search OPD Receipt</h5>
      </div>
      </a>
  </div>

  <div class="card col-md-2" id="c1"  >
  <a href="#!duepayment">
    <i id="ii" class="fas fa-book fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">Due Payments</h5>
      </div>
      </a>
  </div>

  <div class="card col-md-2" id="c1"  >
  <a href="#!companypayment">
    <i id="ii" class="fas fa-database fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">Company Payment</h5>
      </div>
      </a>
  </div>

  <div class="card col-md-2" id="c1"  >
  <a href="#!patientadvance">
    <i id="ii" class="fas fa-money-check-alt fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">Patient Advance</h5>
      </div>
      </a>
  </div>

  <div class="card col-md-2" id="c1"  >
  <a href="#!ipdestimation">
    <i id="ii" class="fas fa-calculator fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">IPD Estimation</h5>
      </div>
      </a>
  </div>

  <div class="card col-md-2" id="c1"  >
  <a href="#!ipdbilling">
    <i id="ii" class="fab fa-alipay fa-7x"></i>
      <div class="card-body">
        <h5 class="card-title">IPD Billing</h5>
      </div>
      </a>
  </div>


</div>
