<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Due payment</title>
    <link rel="stylesheet" href="/css/duepayment.css">
  </head>
  <body>
    <div class="container">
    <div id="i1" class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
          <label class="form-label text-color ">Bill No.</label>
          <input class="form-control" type="text" name="sear_bill" placeholder="Bill No." value="">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
          <label class="form-label text-color ">Patient UHID</label>
          <input class="form-control" type="text" name="reg_categ_idno" placeholder="UHID" value="">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
          <label class="form-label text-color ">Patient Name</label>
          <input class="form-control" type="text" name="patient_name" placeholder="First Name" value="">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <label class="form-label text-color textBold14">Date (From)</label>
          <input  type="date" class="form-control" >
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <label class="form-label text-color textBold14">Date (To)</label>
          <input  type="date"  class="form-control" >
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <label class="form-label text-color textBold14">Due From</label>
          <select class="form-control" name="">
            <option value="">IPD</option>
            <option value="">OPD</option>
          </select>
      </div

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-color">
          <label class="form-label text-color ">&nbsp;</label>
          <input type="submit" class="btn btn-sm btn-info form-control" style="width:200px" value="Search">
      </div>

    </div>

    </div>



  </body>
</html>
