<!-- Nav tabs -->
<ul   class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a href="" class="nav-link active">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Services</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#!addservice" >Add Services</a>
            <a class="dropdown-item" href="#!addprefic" >Add Prefix fo Bill</a>
            <a class="dropdown-item" href="#!patientRegistration">Add Patient</a>
        </div>
    </li>
    <li class="nav-item">
        <a  class="nav-link" href="#!billing" >Billing</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" href="#!summury"  >Billing Summary</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" href="#!dashboard"  >Billing & Cashier</a>
    </li>
</ul>
