<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      #dd{
        width: 500px;
        height: 500px;
        background-color:lightblue;
        border: 1px solid black;
      }
      #ddd{
        margin: 25px;
        height:450px;
        border: 1px solid red;
        background-color:white;
      }
    </style>
    <title>Invoice View </title>
  </head>
  <body>
<div id="dd">
  <div id="ddd">
    <table class="table ">
      <thead class="table-dark">
        <tr>
          <td>Product Name</td>
          <td>Qty</td>
          <td>
            Purchase Price
          </td>
        </tr>
        <tr>
          <td>Parle G Rs 5</td>
          <td>48</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>Parle G Rs 5</td>
          <td>48</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>Parle G Rs 5</td>
          <td>48</td>
          <td>9</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total Product</td>
          <td>3</td>

        </tr>
        <tr>
          <td>Total Amount</td>
          <td>1080</td>

        </tr>
        <tr>
          <td>Bill Date</td>
          <td>31-01-2019</td>

        </tr>
        <tr>

        </tr>

      </tbody>
    </table>
  </div>
</div>
  </body>
</html>
