<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/pharmacy.css">
  </head>
  <body>
    <div class="container-fluid">

      <div class="card col-md-2" id="c1"  >
      <a href="#!addSupplier"  >
        <i id="ii" class="fas fa-user-plus fa-7x"></i>
          <div class="card-body">
            <h5 class="card-title">Add Supplier</h5>
          </div>
          </a>
      </div>

      <div class="card col-md-2" id="c1"  >
      <a href="#!product">
        <i id="ii" class="fab fa-product-hunt fa-7x"></i>
          <div class="card-body">
            <h5 style="margin-left:15px" class="card-title">Product</h5>
          </div>
          </a>
      </div>

      <div class="card col-md-2" id="c1"  >
      <a href="#!productbilling">
        <i style="margin-left:40px;margin-top:9px" class="fas fa-file-invoice-dollar fa-7x"></i>
          <div class="card-body">
            <h5 style="margin-left:25px" class="card-title">Billing</h5>
          </div>
          </a>
      </div>

      <div class="card col-md-2" id="c1"  >
      <a href="#!purchase">
        <i style="margin-left:29px;margin-top:9px" class="fas fa-cash-register fa-7x"></i>
          <div class="card-body">
            <h5 style="margin-left:20px" class="card-title">Purchase</h5>
          </div>
          </a>
      </div>


      <div class="card col-md-2" id="c1"  >
      <a href="#!purchaseorder">
        <i style="margin-left:9px;margin-top:9px" class="fas fa-shopping-cart fa-7x"></i>
          <div class="card-body">
            <h5 style="margin-left:20px" class="card-title">Purchase Order</h5>
          </div>
          </a>
      </div>



    </div>

  </body>
</html>
