<table border="5" class="table table-hover table-inverse table-light">
    <thead class="thead-inverse">
        <tr style="background-color:#E8AC8C">
            
            <th>Search</th>

            <th>
              <input type="text" name="" placeholder="According to [ Bill number,Bill Date,Amount]" class="form-control" value="">
            </th>
            <th>
              <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            </th>
        </tr>
        </thead>
        <tbody  >
            <tr style="background-color:gray" >
                <td scope="row">Patient Name</td>
                <td>Medicine Name</td>
                <td>Count</td>
                <td>Days</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Amount</td>
            </tr>
            <tr style="background-color:pink" >
                <td scope="row">test</td>
                <td>raja</td>
                <td>amphribine</td>
                <td>5</td>
                <td>6</td>
                <td>12</td>
                <td>400</td>
            </tr>
            <tr style="background-color:pink">
                <td scope="row">test</td>
                <td>raja</td>
                <td>amphribine</td>
                <td>5</td>
                <td>6</td>
                <td>12</td>
                <td>400</td>
            </tr>
            <tr style="background-color:pink">
                <td scope="row">test</td>
                <td>raja</td>
                <td>amphribine</td>
                <td>5</td>
                <td>6</td>
                <td>12</td>
                <td>400</td>
            </tr>
        </tbody>
        <tfoot>
          <tr style="background-color:gray" >
            <td></td>

            <td >Discount</td>
            <td>10%</td>
              <td>  </td>
              <td></td>
            <td>Total Amount</td>
            <td>360</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="button" name="" value="Generate Bill/Dispense" class="btn btn-primary" >
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
</table>
