<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search OPD Report</title>
    <link rel="stylesheet" href="/css/searchOPDReceipt.css">
  </head>
  <body >
    <div ng-init="onload()" class="container">
      <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" style="margin-top: 10px;">
        <span class="textbold14">
          <a class="text-info" href="#!test">Search OPD Receipt</a>&nbsp;|&nbsp;
          <a class="text-info" href="#!duepayment">Due Payments</a>&nbsp;|&nbsp;
          <a class="text-info" href="#!companypayment">Company Payment</a>&nbsp;|&nbsp;
          <a class="text-error" href="#!ipdbilling">IPD Billing</a>&nbsp;</span></div>
          <a class="text-info" href="#!patientadvance">Patient Advance</a>&nbsp;|&nbsp;
          <a class="text-info" href="#!ipdestimation">IPD Estimation</a>&nbsp;|&nbsp;
    </div>
<div class="container">
<div id="i1" class="row">
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
      <label class="form-label text-color ">Bill No.</label>
      <input class="form-control" ng-model="billid" type="text" name="sear_bill" placeholder="Bill No." value="">
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
      <label class="form-label text-color ">Patient UHID</label>
      <input class="form-control" type="text" name="reg_categ_idno" placeholder="UHID" value="">
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
      <label class="form-label text-color ">Patient Name</label>
      <input class="form-control" type="text" ng-model="name"   name="patient_name" placeholder="First Name" value="">
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
      <label class="form-label text-color textBold14">Date (From)</label>
      <input  type="date" class="form-control" >
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
      <label class="form-label text-color textBold14">Date (To)</label>
      <input  type="date"  class="form-control" >
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-color">
      <label class="form-label text-color ">&nbsp;</label>
      <input type="submit" ng-click="SerrchByBillID()"  class="btn btn-sm btn-info form-control" value="Search">
  </div>

</div>

</div>

<div class="container" ng-show="allBill"  >
  <div  class="table-hover table-striped " >
	     <table class="table" >
         <tr>
           <td>SN</td>
           <td>Bill No.</td>
           <td>Billing date</td>
           <td>Amount</td>
           <td>Patient Details</td>
           <td>Actions</td>
         </tr>
         <tr ng-repeat="item in BillingDetails" >
           <td>
             {{$index+1}}
           </td>
           <td>
             {{item.BID}}
           </td>
           <td>
             {{item.billing_date | date}}
           </td>
        <td>
        {{item.total}}
        </td>
        <td>
            {{item.patient[0].first_name}}  {{item.patient[0].last_name}}| {{item.patient[0].gender}}
        </td>
        <td>
          <input type="button"  value="Print" class="btn btn-primary" >
          <input type="button"  value="Refund" class="btn btn-primary" >
          <input type="button"  value="Cancel" class="btn btn-primary" >
        </td>
         </tr>
       </table>
 </div>
</div>


<div class="container" ng-hide="allID"  >
  <div  class="table-hover table-striped " >
	     <table class="table" >
         <tr>
           <td>SN</td>
           <td>Bill No.</td>
           <td>Billing date</td>
           <td>Amount</td>
           <td>Patient Details</td>
           <td>Actions</td>
         </tr>
         <tr  >
           <td>
             1
           </td>
           <td>
             {{BillingDetails.BID}}
           </td>
           <td>
             {{BillingDetails.billing_date | date}}
           </td>
        <td>
        {{BillingDetails.total}}
        </td>
        <td>
            {{BillingDetails.patient[0].first_name}}  {{BillingDetails.patient[0].last_name}}| {{BillingDetails.patient[0].gender}}
        </td>
        <td>
          <input type="button"  value="Print" class="btn btn-primary" >
          <input type="button"  value="Refund" class="btn btn-primary" >
          <input type="button"  value="Cancel" class="btn btn-primary" >
        </td>
         </tr>
       </table>
 </div>
</div>


<div class="container" ng-hide="allName"  >
  <div  class="table-hover table-striped " >
	     <table class="table" >
         <tr>
           <td>SN</td>
           <td>Bill No.</td>
           <td>Billing date</td>
           <td>Amount</td>
           <td>Patient Details</td>
           <td>Actions</td>
         </tr>
         <tr ng-repeat="i in BillingDetails[0].billlllll" >
           <td>
             name
           </td>
           <td>
             {{i.BID}}
           </td>
           <td>
             {{i.billing_date | date}}
           </td>
        <td>
        {{i.total}}
        </td>
        <td>
            {{BillingDetails[0].first_name}}  {{BillingDetails[0].last_name}}| {{BillingDetails[0].gender}}


        </td>
        <td>
          <input type="button"  value="Print" class="btn btn-primary" >
          <input type="button"  value="Refund" class="btn btn-primary" >
          <input type="button"  value="Cancel" class="btn btn-primary" >
        </td>
         </tr>
       </table>
 </div>
</div>

  </body>
</html>
