<style>
#someid{
    color: darkblue
}
</style>


<div class="container" ng-init="getHospitalDetails()" >
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img width="150px" height="" src="../../images/logo.png"><br><br><br>
                          <!-- end date  <md-datepicker type="date" ng-hide="myname" ng-model="selectDate"   ng-change="getDayBilling()"></md-datepicker> -->
                           <br> <div  >
                                
                                
                            <div class="form-group" ng-init="gettoDayBilling()" >
                              <label for="">Start Date</label>
                              <md-datepicker type="date"  ng-model="startDate"    ></md-datepicker>
                              
                            </div>
                            <div class="form-group">
                                    <label for="">End Date</label>
                                    <md-datepicker type="date"  ng-model="endDate"  ng-change="biilingdone()"    ></md-datepicker>
                                    
                                  </div>


                            </div>
                            <!-- <input type="button"  value="Find Between two days" class="btn btn-info" ng-click="twoDate()" >
                            <input type="button"  value="Find One Day" class="btn btn-info" ng-click="oneday()" > -->
                            
                        </div>
  
                        <!-- <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice #550</p>
                            <p class="text-muted">Due to : {{today | date:'d/M/yy hh:mm' }}</p>
                            <p class="font-weight-bold mb-1">
                              
                              <md-datepicker type="date"  ng-model="selectDate"    ng-change="getDayBilling()"></md-datepicker>
                            </p>
                        </div> -->
                        <div id="someid" class="col-md-6">
                            <p class="font-weight-bold mb-4">Hospital Information</p>
                            <p class="mb-1">{{Alldetails.name}}</p>
                            <p>{{Alldetails.address}}</p>
                            <p class="mb-1"> India</p>
                            <p class="mb-1">{{Alldetails.pin}}</p>
                        </div>
  
                    </div>
  
                    
  
                    <div id="print-section" >
  
                    <!-- <div ng-if="Alldetails" class="row pb-5 p-5"> -->
                        <!-- <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Hospital Information</p>
                            <p class="mb-1">{{Alldetails.name}}</p>
                            <p>{{Alldetails.address}}</p>
                            <p class="mb-1"> India</p>
                            <p class="mb-1">{{Alldetails.pin}}</p>
                        </div>
   -->
                        <!-- <div class="col-md-6 text-right">
                            <!-- <p class="font-weight-bold mb-4">Payment Details</p>
                            <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
                            <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
                            <p class="mb-1"><span class="text-muted">Payment Type: </span> Root</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> John Doe</p> -->
                        <!-- </div>
                    </div> -->

                    <div class="row p-5">
                        <div class="col-md-12">
                          <table class="table table-striped">
                              <thead>
                              <tr>
                              <th class="center">Bill No.</th>
                              <th>Patient Name</th>
                              <th>Service details</th>
                              
                              <th class="right">Total</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="item in dayendData">
                                  <td>{{item.BID}}</td>
                                  <td>{{item.patient[0].first_name}} {{item.patient[0].last_name}} </td>
                                  <td>
                                    <table style="width:100%;">
                                      <tr>
                                        <th>sn</th>
                                        <th>Service Name</th>
                                        <th>Charge</th>
                                      </tr>
                                      <tr ng-repeat="ii in item.srervice">
                                        <td>{{$index+1}}</td>
                                        <td >{{ii.name}}</td>
                                        <td>{{ii.charge}}</td>
                                      </tr>
                                        
                                      
                                      
                                      
                                    </table></td>
                                    <td>{{item.total}}</td>
                              
                              
                              
                              </tr>
                              
                              
                              
                              </tbody>
                              </table>
                        </div>
                    </div>
  
                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-light">₹{{totolserviceAmount}}</div>
                        </div>
  
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2"></div>
                            <div class="h2 font-weight-light"></div>
                        </div>
  
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2"></div>
                            <div class="h2 font-weight-light"></div>
                        </div>
                    </div>
  
  
  
                    </div>
  
                </div>
            </div>
        
        
          </div>
    
    
    
      </div>
    
    <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" ></a></div>
  
  </div>
  
